.slider {
  width: 200px;
}
.slider img {
  width: 100%;
  object-fit: cover;
}
.slider:focus {
  outline: none;
}
.slickSliderImgWrap{
  width:200px;
}

@media screen and (max-width: 500px) {
  .slider img {
    width: 260px !important;
  }
  .slidersWraps{
    width:290px !important;
   overflow: hidden;
  }
}
