.productCard {
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  height: 330px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: all .5s cubic-bezier(0.52, 0.52, 0.67, 0.65);
}
.packageCard{
  background: #680C70 ;
  color:#fff;
}
.packageCard:nth-child(even){
background:#FC5302;
}
.productCard:hover{
  background:#9C24DA;
  color:white;
}
.productCard:nth-child(2){
  position: relative;
  top:-70px; 
}
.productCard:nth-child(4){
  position: relative;
  top:-70px;
}

.moreServiceIcon{
  color: #fff !important;
  font-size: 100px !important;
  margin: 0 auto;
}
.productCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.productCardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

@media only screen and (max-width:1024px){
  .productCard {
    width: 220px;
    height: 350px;

  }

}
@media only screen and (max-width:768px){
  .productCard:nth-child(2){
    position: initial;
  }
  .productCard:nth-child(4){
    position:initial;
  }
  
  
}