.productCard {
  width: 270px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  height: 330px;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  transition: all 0.5s cubic-bezier(0.52, 0.52, 0.67, 0.65);
  scale: 1;
  text-align: center;
}
.packageCard {
  background: #680c70;
  color: #fff;
}
.packageCard:nth-child(even) {
  background: #fc5302;
}
.productCard:hover {
  background: #9c24da;
  color: white;
  scale: 1.1;
  cursor: pointer;
}
.productCard:nth-child(2) {
  position: relative;
  top: -70px;
}
.productCard:nth-child(4) {
  position: relative;
  top: -70px;
}

.moreServiceIcon {
  color: #fff !important;
  font-size: 100px !important;
  margin: 0 auto;
}
.productCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.productCardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
  .productCard {
    width: 220px;
    height: 350px;
  }
  .productCard:nth-child(2) {
    position: relative;
    top: 0px;
  }
  .productCard:nth-child(4) {
    position: relative;
    top: 0px;
  }
  
}
@media only screen and (max-width: 768px) {
  .productCard:nth-child(2) {
    position: initial;
  }
  .productCard:nth-child(4) {
    position: initial;
  }
  .productCard {
    width: 100%;
  }
}
