.wordPressPackage {
  width: 380px;
  background: white;
  padding: 30px 20px;
  color: black;
  border-radius: 5px;
  margin: 0 auto;
}
.wantToTalk {

  display:flex;
  justify-content: space-between;
  flex-direction:row;
}

@media only screen and (max-width: 1024px) {
  .wordPressPackage {
    width: 320px;
  }
  .wantToTalk{
    flex-direction: column;
  }
 
}

@media only screen and (max-width: 768px) {
  .wordPressPackage {
    width: 90%;
  }
 
}

@media only screen and (max-width: 500px) {
  .bannerBtn {
    width: 165px;
    margin: 0 auto;
  }
  .cardLine{
    display: none;
  }
}
