
.topServices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.animation{
    width:100%;
}

.arrowWrap{
    display: flex;
    margin-left: 85px;
    margin-top: -50px;
    cursor: pointer;
    z-index: 99;
    position: relative;
}
.topServiceContent, .topServiceRight{
    width:50%;
}
.topServiceContent{
    width:400px;
    height: 500px;
    border-radius: 40%;
    overflow: hidden;
}
.topServiceContent img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.topServicesLeft{
    width:50%
}
.leftArrow{
    width: 50px;
    height: 35px;
    background: #F81600;
    display: grid;
    place-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 1px solid #fff;
}
.rightArrow{
    width: 50px;
    height: 35px;
    background: #F81600;
    display: grid;
    place-items: center;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
   
}
.leftArrowIcon{
    transform: rotate(225deg);
    color:white;
}
.rightArrowIcon {
    transform: rotate(49deg);
    color:white;
}
.relatedServiceHead h2{
    border-bottom: 3px solid red;
    width:400px;
    padding-bottom:10px;
}

@media only screen and (max-width:1024px){
    .topServicesWrap{
        margin-bottom: 86px;
    
    }
    
}
@media only screen and (max-width:768px){
    .relatedServiceHead h2 {
        width: 100%;
    }
    .topServicesLeft {
        width: 100%;
    }
    .topServices {
        flex-direction: column;
    }
    .topServiceContent, .topServiceRight {
        width: 100%;
    }
    .arrowWrap {
        margin-top: 38px;
    }
    .arrowWrap {
        display: flex;
        margin-left: 22px;
        margin-top: 27px;
        cursor: pointer;
        z-index: 99;
        position: relative;
    }
}
@media only screen and (max-width:500px){
    .arrowWrap {
        margin-left: 22px;
        margin-top: 27px;
    }
    .topServicesWrap {
        margin-bottom: 45px;
      }
}