.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
}
.sticky {
  margin: 0 auto;
  background-color: #1586FD;
  width: 100%;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  padding: 15px 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar-list {
  display: flex;
}

.navbar-list li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.bar,
.bar2 {
  display: none;
}
.mobileMenu,
.mobileMenuActive {
  display: none;
}
.usersWrap {
  position: relative;
}
.userItems {
  position: absolute;
  background: #2d57a2;
  text-align: center;
  padding: 20px 10px;
  border-radius: 3px;
  display: none;
  justify-content: center;
}
.usersWrap:hover .userItems {
  display: block;
}
.user,
.user2 {
  width: 3.12rem;
  height: 3.12rem;
  border-radius: 100%;
}
.user2 {
  color: white;
  border: 1px solid #ffffff;
}
.serviceNavItems {
  position: relative;
}
.dropDownMenu,
.teamSubMenu {
  position: absolute;
  background: #fff;
  color: black;
  top: 24px;
  width: 250px;
  padding: 10px;
  border-radius: 3px;
  opacity: 0;
  transform: scaleY(0);
  visibility: hidden;
  transition: all 0.5s ease;
  transform-origin: top;
  cursor: pointer;
  z-index: 8888;
  font-size: 12px;
}

.serviceNavItems:hover .dropDownMenu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.mainSubmenu:hover .subMenu1 {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.mainSubmenu2:hover .subMenu2 {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.subMenu1,
.subMenu2 {
  width: 500px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  position: absolute;
  z-index: 9;
  transition: all 0.5s ease;
  transform-origin: top;
  right: -526px;
  top: 12px;
  font-size: 14px;
  opacity: 0;
  transform: scaleY(0);
  visibility: hidden;
}
.subMenu2 {
  opacity: 0;
  transform: scaleY(0);
  visibility: visible;
  width: 300px;
  right: -327px;
  top: 8px;
}
.mainSubmenu:hover .subMenu1 {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.submenu {
  background: green;
  position: absolute;
  width: 400px;
  padding: 20px;
  z-index: 9999;
  top: 113px;
  transition: all 0.5s ease;
  transform-origin: top;
  left: 29px;
}
.hoverSubmenu:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.teamSubMenu {
  left: 225px;
}

.teamHoverMenuItem:hover .teamSubMenu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.menuBox {
  border-right: 1px solid #ddd;
  padding: 0 15px;
  /* width:220px; */
  margin: 0 auto;
  text-align: center;
}
.menuBox:last-child {
  border-right: 0px;
}
.iconsShapeWrap {
  position: relative;
}
.iconsShapeWrap::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: #ededee;
  border-radius: 100%;
  z-index: -2;
  top: 5px;
  left: -15px;
}
/* .active {
  font-weight: bold;
  color: #4168ab;
} */

@media only screen and (min-width: 1200px) {
  .sticky {
    padding: 15px 349px;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar,
  .sticky {
    width: 100%;
  }
  .navbar {
    padding: 0px 30px;
  }
  .security {
    position: relative;
    left: -44%;
  }
  .navbar-list {
    display: none;
  }
  .mobileMenu,
  .mobileMenuActive {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: white;
    color: white;
    top: -19px;
    left: -350px;
    padding-top: 50px;
    display: block;
    z-index: 999;
    padding-left: 20px;
    transition: all 0.5s cubic-bezier(0.46, 0.38, 0.52, 0.46);
    z-index: 99999999999;
    background: #1586FD;
  }
  .mobileMenuActive {
    left: 0px !important;
  }
  .mobileMenu li,
  .mobileMenuActive li {
    margin-bottom: 18px;
  }

  .bar,
  .bar2 {
    padding: 0px !important;
    text-align: left !important;
    width: 49px;
    height: 46px;
    line-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
    position: absolute;
    top: 14px;
    right: 21px;
    z-index: 999999;
  }
  .bar div,
  .bar2 div {
    position: relative;
  }
  .bar span,
  .bar2 span {
    width: 30px;
    height: 2px;
    background: #111;
    margin-bottom: 6px;
    display: block;
    transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
  }

  .bars span {
    background: #fff !important;
  }
  .sticky .bars span {
    background: #111 !important;
  }

  .bar1 {
    transform: rotate(-45deg);
    position: absolute;
    top: -2px;
    left: -12px;
    transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
  }
  .bar2 {
    display: none;
    position: absolute !important;
    display: none !important;
    transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
  }
  .bar3 {
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    right: -18px;
    transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
  }
}
@media only screen and (max-width: 768px) {
  .menuBox {
    border-right: none;
  }
  .sticky .bar span {
    background: black;
  }

  .dropDownMenu,
  .teamSubMenu {
    width: 200px;
  }
  .teamSubMenu {
    left: 201px;
    top: 232px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .subMenu1 {
    left: 210px;
    background: #1586FD;
  }
  .subMenu2 {
    left: 50px;
    top: 80px;
    background: #1586FD;
    width: 250px;
    padding: 10px 0px;
  }
  .security {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    padding: 10px 8px;
  }
  .bar {
    top: 12px;
    right: 1px;
  }
  .user,
  .user2 {
    width: 2.5rem;
    height: 2.5rem;
  }

  .whatsApp {
    right: 12px;
  }

  .teamSubMenu {
    left: 0px;
    top: 241px;
    background: #1586FD;
    color: white;
  }
  .subMenu1 {
    left: 0px;
    top: 0px;
    width: 200px;
    background-color: #1586FD;
    padding-left: 0px;
    border: none;
  }
  .subMenu2 {
    left: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .mobileMenu,
  .mobileMenuActive {
    width: 195px;
  }
  .subMenu1 {
    right: 0px;
  }
  .subMenu2 {
    width: 220px;
  }
}
