.chooseLeftSide{
    width:50%;
}


.whyChooces{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px) {
    .whyChooces {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .chooseLeftSide{
        width:100%;
    }
    .portfolioTabs{
        width:100% !important;
    }
    
}