.servicesWraps{
    margin: 80px 0;
}








 @media only screen and (max-width:1024px){
    .servicesWraps{
        width: 100%;
        padding: 0 30px;
    }
    .ourServiceLeftSide {
        width: 100%;
        margin-bottom: 28px;
    }

 }
 
 @media only screen and (max-width:768px){
    .ourServicesWrap{
        grid-template-columns: 1fr;
    }
    .ourServiceLeftSide{
        order: 1;
        margin-top:15px;
    }
    .cardLine2, .cardLine3, .cardLine4{
      display: none;
    
     }

 }
 @media only screen and (max-width:500px){
    .ourServiceLeftSide {
        width: 100%;
    }
  
 }
