.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-left: 5px;
  height: 50px;
  border-radius: 5px;
}
.contactUs {
  display: flex;
  flex: repeat(4, 1fr);
  justify-content: space-between;
}

.footerTop {
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
  box-shadow: #680C70 0px 1px 6px;
}
.footerTopBarContent {
  z-index: 99;
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: 8fr 4fr;
  place-content: space-between;
  place-items: flex-end;
  justify-content: center;
  align-items: center;
}
.requestDemo {
  display: flex;
  border: 1px solid #F81600;
  padding: 10px;
  border-radius: 3px;
}
.requestDemo input {
  background-color: transparent;
  height: 100%;
}

.rightSideImgWRap img {
  position: relative;
  top: -65px;
}

.emalIcon {
  font-size: 25px !important;
  color: #F81600;
}
.socialIcon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: red;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcon:nth-child(1) {
  background-color: #355089 !important;
}
.socialIcon:nth-child(2) {
  background-color: #006ba3 !important;
}
.socialIcon:nth-child(3) {
  background-color: #00acee !important;
  color: #fff;
}
.socialIcon:nth-child(4) {
  background-color: #b91d1c !important;
}
.contactBtn {
  display: flex;
  align-items: center;
  background: #680C70;
  width: 200px;
  height: 50px;
  padding-left: 5px;
  color: white;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact input:focus {
  outline: none;
}
.termCondition p {
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.termCondition p:hover {
  color: #F81600;
}
.contactUs p {
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}
.copyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribeWraps {
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .footerTopBarContent {
    align-items: center;
    padding: 13px 0px 31px 0;
  }
  .leftSideContent {
    width: 100%;
  }
  .rightSideImgWRap {
    width: 100%;
  }
  .rightSideImgWRap img {
    left: 23px;
  }
}

@media only screen and (max-width: 768px) {
  .footerTop {
    display: flex;
    justify-content: center;
  }
  .footerWrap {
    margin-top: 60px;
  }
  .contactUs {
    flex-wrap: wrap;
  }
  .rightSideImgWRap img {
    margin-left: 106px;
  }
  .footerTopBarContent {
    grid-template-columns: auto;
    place-content: center;
    place-items: center;
  }

  .rightSideImgWRap img {
    margin-left: 0px !important;
    top: -96px;
  }
  .footerTopBarContent {
    height: 459px;
  }
  .leftSideContent {
    position: relative;
    top: -80px;
    order: 1;
  }
}

@media only screen and (max-width: 500px) {
  .contact {
    margin-top: 20px;
    width: 100%;
  }
  .contactBtn {
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
  }
  .copyRight p {
    font-size: 14px;
  }
  .copyRight,
  .contactUs {
    display: block;
  }
  .requestDemo {
    width: 100%;
    margin-top: 10px;
  }
  .leftSideContent {
    top: -44px;
  }
  .footerTopBarContent {
    height: 680px;
    margin-top: 34px;
  }

  .footerTop {
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 400px) {
  .rightSideImgWRap {
    width: 92%;
  }
  .footerWrap {
    margin-top: -25px;
  }
}
