.servicesWraps{
    margin-bottom: 20px;
}
.ourServicesWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 40px 0;
}
.cardsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cards{
    width: 270px;
    height: 190px;
    margin: 10px auto;
    perspective: 1000px;
    cursor: pointer;
    transition: all .5s ease;
    transform-style: preserve-3d;
    margin-right: 10px;
    margin-left: 10px;

}
.workCard{
border-radius: 100%;
width:270px;
height:200px;
background:red;

}

.cards:nth-child(2){
    position:relative;
    top:100px;
}
.cards:nth-child(4){
    position:relative;
    top:100px;
}
.inner-box{
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    transition:transform 1s;
    transform-style: preserve-3d;

}
.cards-front, .cards-back{
    position:absolute;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-front{
    background-size: cover;
    background-position: center;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.cards-front{
    background:#F87015 ;
    color:#fff;
}
.cardsFront2, .cardsFront3, .cardsFront4{
    background:#591683 !important
}

.cards .cards-back-content, .cards-front{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100%;
 }
 .cards-back{
     background-color: #F87015;
     transform: rotateY(180deg);
     
 }
 
 .cards:hover .inner-box{
     transform: rotateY(-180deg);
 }
 .iconWrap{
    width: 88px;
    margin: 0px auto;
    margin-top:50px;
    text-align: center;
 }
 .iconWrap img{
width:100%;
height: 100%;
object-fit: cover;
 }
 .ourServicesRightSide{
    position: relative;
 }
 .cardLine, .cardLine2, .cardLine3, .cardLine4{
    position:absolute;
    z-index: -2;
    top:0;
 }
 .cardLine2, .cardLine3, .cardLine4{
    width: 125px;
    height: 1px;
    border: 1px dashed;
    top: 262px;
    left: 254px;
    rotate: -25deg;

 }
.cardLine3{
    top: 395px;
    rotate: 22deg;
    left: 251px;
}

.cardLine4{
    top: 487px;
    rotate: -27deg;
    left: 251px;
}

 .ourServicesRightSide::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #EBF7EB;
    left: -5px;
    top: 13px;
    z-index: -3;
    clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
     animation: move 15s linear infinite;
 }
 @keyframes move {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-700px);
    }
    100%{
        transform: translateX(0);
    }
    
 }

 @media only screen and (max-width:1024px){
    .servicesWraps{
        width: 100%;
        padding: 0 30px;
    }
    .ourServiceLeftSide {
        width: 100%;
        margin-bottom: 28px;
    }

 }
 
 @media only screen and (max-width:768px){
    .ourServicesWrap{
        grid-template-columns: 1fr;
    }
    .ourServiceLeftSide{
        order: 1;
        margin-top:15px;
    }

 }
 @media only screen and (max-width:500px){
    .ourServiceLeftSide {
        width: 100%;
    }
    .iconWrap {
        width: 50px;
        margin: 0px auto;
        margin-top: 25px;
        text-align: center;
    }
    .iconWrap p{
        font-size: 12px !important;
        color:red;
    }
    .cards {
        width: 150px;
        height: 142px;
    }
    .servicesWraps{
        padding:0 10px;
    }
    .cards-back-content :where(small, b){
        line-height: 13px !important;
        display: block;
    }
    .cards-back-content b{
        font-size:13px;
    }
 
 }
@media only screen and (max-width:400px){
    .cards {
        width: 135px;
        height: 139px;
    }
    
}