
.applyLevel{
   @apply absolute -top-2 left-0 bg-transparent text-xs text-gray-400 duration-300 peer-placeholder-shown:left-0 peer-placeholder-shown:top-[50%] peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-2 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-blue-400
}
.applyBtn{
   @apply md:text-xl mt-5 md:mt-0 text-sm w-36 md:w-44 h-10 md:h-14 before:absolute before:block before:inset-0 before:-z-10 before:bg-[#1586FD] text-white after:block hover:after:w-full after:w-0 after:hover:left-0 after:right-0 after:top-0 after:h-full after:-z-10 after:duration-300 after:bg-[#1586FD] after:absolute relative inline-block
}
.sectionMargin{
   margin-top:100px;
}

.chatIcon{
   font-size: 16px !important;
   margin:0 3px;
}

@media (max-width: 640px) {
   .sectionMargin {
      margin-top: 80px;
   }
}

.serviceDetailsWrap {
   width: 100%;
   height: 350px;
   background-image: url(../assets/business/contact.jpg);
   position: relative;
   background-size: cover;
   background-repeat: no-repeat;
 }
.blogFeatureContainer {
   background-image: url(../assets/business/contact.jpg);
 }
 .serviceDetailsWrap::after {
   position: absolute;
   top: 0;
   content: "";
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: black;
   z-index: 1;
   opacity: 0.8;
 }
 .chatIcon {
   font-size: 15px !important;
 }
 
 .aboutContent {
   position: absolute;
   z-index: 5;
   color: #fff;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 @media only screen and (max-width:768px){
   .serviceDetailsWrap {
      height: 250px;
  }
 }