.singleServicesWrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0 35px;
}
.servicesWrap {
  background-image: url("../../../public/assets/web2.jpg");
  width: 100vw;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 74%,
    62% 85%,
    32% 91%,
    0 79%,
    0 15%
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 74%,
    62% 85%,
    32% 91%,
    0 79%,
    0 15%
  );
}
.servicesWrap:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 99;
  opacity: 0.8;
}
.servicesContent {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 999 !important;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: white;
  padding: 0px 20px;
  top: 80px;
  text-align: center;
}
.ecommerServices {
  display: flex;
  justify-content: space-between;
  align-items: ceter;
  flex-grow: auto;
  padding-top: 30px;
}
.leftSideServices {
  width: 650px;
}
.singleServicePortFolio {
  width: 400px !important;
  margin-bottom: 30px;
}
.portfolioTitle {
  width: 1000px !important;
}
.singleServicessContent {
  width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .ecommerServices {
    flex-direction: column-reverse;
  }
  .rightSide {
    width: 100%;
  }
  .leftSide {
    width: 100%;
  }
  .singleServicesWrap {
    width: 100%;
    margin-top: 35px;
  }
  .singleServicePortFolio {
    width: 320px !important;
  }
  .rightSideServices {
    width: 700px !important;
    margin: 0 auto;
  }
  .leftSideServices {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .servicesContents {
    top: 130px;
  }
  .singleServicePortFolio {
    width: 370px !important;
  }
  .singleServicessContent {
    width: 100%;
  }

  .singleServicesWrap {
    padding: 0 10px;
  }
  .whyChooseServices {
    margin-bottom: 100px;
  }
  .rightSideServices {
    width: 100% !important;
    margin:0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .leftSideServices {
    width: 100%;
  }
  .singleServicessContent h3 {
    font-size: 15px;
  }
  .singleServicePortFolio {
    width: 280px!important;
  }
}
