@keyframes animate_left {
  0% {
    opacity: 0;
    margin-left: -500px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes animate_right {
  0% {
    opacity: 0;
    margin-left: 90px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes heroBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animateFutureText {
  0%, 49.99% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50%, 100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

.futureText, .futureText2, .futureText3 {
  display: none; /* Initially hide all text items */
}

.show {
  display: inline; /* Display only the text item with the 'show' class */
}

.futureText.show, .futureText2.show, .futureText3.show {
  animation-name: animateFutureText;
  animation-duration: 2s; 
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite; 
  animation-direction: alternate; 
  animation-fill-mode: both;
  animation-play-state: running; 
}

.futureText {
  animation-delay: 5s;
}

.futureText2 {
  animation-delay: 10s;
}

.futureText3 {
  animation-delay: 15s;
}


.header {
  position: relative;

  height: 80vh;
  /* background-image: url(../../../../public/assets/banner.png); */
  background-image: url(../../../../public/assets/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 150px;
  overflow: hidden;
}
.header::after{
  content: '';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background:black;
  opacity:0.6;

 
}

.right-side {
  position: relative;
  top: 50px;
}
/* 
.header-content {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
} */
.header-content{
  display: flex;
margin-top:100px;
position: absolute;
z-index: 9;
width:1200px;
padding-right:40px;

}
.welcome-heading{
  color:#680c70 !important;
}
.left-side{
  width:100%;
}
.left-side h1 {
  font-size: 50px;
color: #F81600 !important;
  margin-bottom: 0px;
  animation: animate_left 2s 1 ease;
}

.left-side p {
  animation-delay: 1s;
  animation: animate_right 2s 1 ease;
  color: #fff;
}
.getContactField{
  width:445px !important;
}



.right-side {
  text-align: right;
}
.right-side img {
  width: 500px;
}

@media only screen and (max-width: 500px) {
  .header-content {
    width: 100%;
    padding: 0 20px;
    height: 350px;
  }

  .left-side h1 {
    font-size: 30px;
  }

}
