

@keyframes animate_left {
  0% {
    opacity: 0;
    margin-left: -500px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes animate_right {
  0% {
    opacity: 0;
    margin-left: 90px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes heroBackground {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
  }
  }
.header {

  position: relative;
background: #680C70 ;
}
/* .navsBarWrap{
  width:1200px;
  margin:0 auto;
} */
/* 
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  bottom: 0;
  clip-path: polygon(0px 10%, 0 100%, 100% 100%);
  background:white;
  
} */


/* 
.header-content {
  width: 100%;
  display: flex;
  position:relative;
} */
.right-side{
    position:relative;
    top:50px
}

.header-content  {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}


.left-side h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 0px;  animation: animate_left 2s 1 ease;
}

.left-side p {
  animation-delay: 1s;
  animation: animate_right 2s 1 ease;
  color: #fff;
}

.ExploreBtn{
  background-color: #fff;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
  margin-top: 10px;
  animation-delay: 0.5s;
  animation: animate_left 2s 1 ease;
  transition: all .5s ease-in-out;
  border: 1px solid #F81600;
  padding: 6px 20px;
  margin:10px auto;
}

.ExploreBtn:hover {
    background: linear-gradient(to right, #680C70, #F81600);
    color:white;
    border:1px solid white;
}

.right-side {
  text-align: right;
}
.right-side img {
  width: 500px;
}





@media only screen and (max-width:500px){

  .header-content  {
    width: 100%;
    padding:0 20px;
    height:350px;
  }
  
.left-side h1 {
  font-size:30px;
}
.ExploreBtn{
  border-radius: 8px;
  font-size: 15px;
  padding: 5px 12px;
}


}

