
.featured-item{
    background-image: url(../../../../public/assets/technical.webp);
    position:relative;
    height:500px;
    width:100%;
    margin:50px auto;
    margin-bottom:80px;
}
.featured-item:after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color:black;
    opacity: 0.5;
}
.portFolioExample{
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.countDownWrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 0 auto;
  
}
.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 275px;
    aspect-ratio: 1/1;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: all .9s cubic-bezier(0.54, 0.49, 0.83, 0.76);
    background-color: #F8761F;
    color:white;
    
}
.countdown:hover{
    background:#951FE8;
    color:white;
   
}
.countdown:hover .singleCountDown{
    color:white !important;
}
.countdown:nth-child(1), .countdown:nth-child(3){
position: relative;
top:-50px;
}
.countdown:nth-child(3){
    position: relative;
}
.singleCountDown{
    display: flex;
    color: white;
    font-size: 75px;
    font-weight: bold;
    transition: all .9s cubic-bezier(0.54, 0.49, 0.83, 0.76);

}

@media only screen and (max-width:1024px){
    .portFolioExample {
        width: 100%;
        padding-left: 15px;
    }
    .countDownWrap {
        gap: 1px;
        padding: 0 5px;
    }
    .countdown {
        width: 220px;
    }
    .singleCountDown {
        font-size: 80px;
    }
}
@media only screen and (max-width:768px){
    .countDownWrap {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    
    .singleCountDown {
        display: flex;
        font-size: 60px;
        font-weight: bold;
    }
    .portFolioExample{
      margin-top:20px;

    }
    .featured-item{
        height:600px;
    }
}
@media only screen and (max-width:500px){
    .countDownWrap {
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
    }
    .countdown {
        width: 170px;
    }
    .singleCountDown {
        font-size: 50px;
    }
    .portFolioExample {
        width: 100%;
        padding-left: 15px;
    }
}
@media only screen and (max-width:400px){
    .portFolioExample {
        padding-left: 3px;
    }
    .countdown {
        width: 140px;
    }
    .singleCountDown {
        font-size: 35px;
    }
    .featured-item{
        height:480px;
    }
}