.bannerBtn{
   width:230px;
   height: 50px;
    background-color: #F81600;
    color:white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .5s ease-in-out;
    border:1px solid #fff;
    font-weight: bold;
}
.bannerBtn:hover{
    background:#680C70;
    color:#fff;
}