@import url(../src/style/style.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded:first-of-type {
  border-left: 5px solid red !important;
}
/* .react-tabs__tab--selected {
  border: 2px solid #2d57a2 !important;
}
.react-tabs__tab--selected::after {
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
} */
/* .react-tabs__tab-list {
  border-bottom: 1px solid #2d57a2 !important;
  margin-bottom: 70px !important;
} */
/* .css-10d9dml-MuiTabs-indicator {
  background-color: #1586FD !important;
  height: 100% !important;
  display: none !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  position: relative;
} */

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #2d57a2;
  bottom: -1px;
  z-index: 99 !important;
  transform: rotate(56deg);
  display: none !important;
}
/* .css-1aquho2-MuiTabs-indicator {
  background-color: #2d57a2 !important;
}
.css-1ujnqem-MuiTabs-root {
  width: 1200px;
  margin: 0 auto;
} */

.rfm-marquee-container {
  padding-top: 80px !important;
}
.css-jpln7h-MuiTabs-scroller {
  overflow-x: hidden !important;
}
table {
  width: 100%;
}
.table :where(thead, tfoot) {
  white-space: pre-wrap;
  font-size: 0.7rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: hsl(var(--bc) / 0.6);
}

.table :where(th, td) {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  vertical-align: middle;
  white-space: pre-wrap;
}
.table :where(td) {
  border-right: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #2d57a2;
}
.table :where(td):nth-last-of-type() {
  border-bottom: 3px solid #ddd !important;
}
.table :where(th) {
  border: 1px solid #fff;
  text-align: center;
  background: #2d57a2;
  font-size: 14px;
  color: white;
}
.table {
  width: 100%;
  text-align: left;
  font-size: 0.6em;
  line-height: 1.75rem;
  border-radius: var(--rounded-box, 1rem);
}
.drawer-content {
  position: absolute !important;
  right: 0px !important;
  width: 82%;
}
.drawerflex {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
.drawwerLeftSide {
  width: 18% !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.countdown > * {
  overflow-y: visible !important;
}
.countdown > * {
  overflow-y: visible !important;
}
.countdown > *:before {
  position: relative;
  content: "" !important;
}
.scroll-to-top {
  right: 40px;
  bottom: 40px;
  position: fixed;
  cursor: pointer;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  border: none;
  background: #ff3d00 !important;
}

.scrollToTopBtn {
  width: 40px;
  height: 40px;
  background: #1586FD;
  color: white;
  border-radius: 100%;
  right: 27px;
  position: fixed;
  bottom: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
}

.whatsApp {
  position: fixed;
  z-index: 9999 !important;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  right: 15px;
  bottom: 20px;
  border-radius: 100%;
  width: 60px;


}


.shadowStyle {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* slick slider style */

.slick-slide .slider {
  display: block;
  width: 160px !important;
  object-fit: cover !important;
  margin-top: 35px !important;
  height: 130px !important;
  overflow: hidden;
}
.slick-slide .slider img {
  width: 100% !important;
  object-fit: contain !important;
  height: 100% !important;
}
.slick-initialized .slick-slide {
  display: block;
  width: 250px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media only screen and (max-width: 1024px) {
  .css-lfwcke-MuiTabs-flexContainer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
@media only screen and (max-width: 768px) {
  .css-1ujnqem-MuiTabs-root {
    width: 100% !important;
    flex-wrap: wrap !important;
  }
  .whatsApp {
    width: 50px;
}
.scrollToTopBtn {
  right: 19px;
}




}
@media only screen and (max-width: 500px) {
  .css-lfwcke-MuiTabs-flexContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 7px !important;
    line-height: -3px !important;
    min-width: 30px !important;
    background: #2d57a2 !important;
    margin-left: 5px !important;
    margin: 2px !important;
    min-height: 30px !important;
    color: white !important;
    border-radius: 3px !important;
    width:60px;
  }

  .css-19kzrtu {
    padding: 0px !important;
}


 
}


