.faqWrap{
    max-width: 970px;
    margin: 100px auto;
}
.activeFaqQuestion{
    font-size: 25px;
    font-weight:bold;
    margin-left:32px;
    transition: all .5s ease-in-out;
    margin-bottom:10px;
}
.hideFaqQuestions{
    display: none;
    transition: all .5s ease-in-out;
}
.faqContent {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 999 !important;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: white;
    padding: 0px 20px;
    top:120px;
    text-align: center;
}
.faqCardContent{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px;
    padding: 30px;
    border-radius: 7px;
}
.faqCard{
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 30px;

}
.faqCardImage{
    width: 220px;
    margin-right: 80px;
}
.faqCardContent{
    font-size: 18px;
}